<div class="main-content">
    <section id="oceanNodes">
        <main>
            <div class="image-wrapper"><img src="https://d33wubrfki0l68.cloudfront.net/1567471e7c58dc9b7d9c65dcd54e60cbf5870daa/a2249/images/flower.png"></div>
            <div class="content">
                <h3>Kubernetes is an open-source system for automating deployment, scaling, and management of containerized applications.</h3>
                <p>It groups containers that make up an application into logical units for easy management and discovery. Kubernetes builds
                    upon 15 years of experience of running production workloads at Google,
                    combined with best-of-breed ideas and practices from the community.</p>
            </div>
        </main>
        <main>
            <div class="image-wrapper"><img src="https://d33wubrfki0l68.cloudfront.net/33a12d8be0bc50be4738443101616e968c7afb8f/cba76/images/scalable.png"></div>
            <div class="content">
                <h4>Planet Scale</h4>
                <p>Designed on the same principles that allows Google to run billions of containers a week, Kubernetes can scale without increasing your ops team.</p>
            </div>
        </main>
        <main>
            <div class="image-wrapper"><img src="https://d33wubrfki0l68.cloudfront.net/dbc75a944a909b2d52bf24ad06d485eca12af892/dad6c/images/blocks.png"></div>
            <div class="content">
                <h4>Never Outgrow</h4>
                <p>Whether testing locally or running a global enterprise, Kubernetes flexibility grows with you to deliver your applications consistently and easily no matter how complex your need is.</p>
            </div>
        </main>
        <main>
            <div class="image-wrapper"><img src="https://d33wubrfki0l68.cloudfront.net/bc2e475ac5fee0199eb3f4a0879cd559e8929f3a/4ee48/images/suitcase.png"></div>
            <div class="content">
                <h4>Run Anywhere</h4>
                <p>Kubernetes is open source giving you the freedom to take advantage of on-premises, hybrid, or public cloud infrastructure, letting you effortlessly move workloads to where it matters to you.</p>
            </div>
        </main>
    </section>

</div>
