<div class="ui-g">
    <div class="ui-g-12 ui-md-8">
        <div class="ui-g-12">
            <b x-align="center"> Tools for working with the cluster role binding.</b>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">content_copy</i>
                </div>
                <nav>
                    <a routerLink="create" routerLinkActive="active">Create simple role binding</a>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">content_copy</i>
                </div>
                <nav>
                    <a routerLink="update" routerLinkActive="active">Edit role binding</a>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">content_copy</i>
                </div>
                <nav>
                    <a routerLink="list" routerLinkActive="active">List of role binding</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-10 ui-g-nopad">
    </div>
</div>