<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="../../../assets/img/angular2-logo-red.png"/>
        </div>
        Kubernets
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav nav-pills nav-stacked" >
            <li *ngFor="let menuDashboard of menuDashboards" routerLinkActive="active" class="{{menuDashboard.class}}">
                <a  [routerLink]="[menuDashboard.path]">
                    <i class="material-icons">{{menuDashboard.icon}}</i>
                    <p>{{menuDashboard.title}}</p>
                </a>
            </li>
            <li class="separator">Cluster</li>
            <li *ngFor="let menuCluster of menuClusters" routerLinkActive="active" class="{{menuCluster.class}}">
                <a  [routerLink]="[menuCluster.path]">
                    <i class="material-icons">{{menuCluster.icon}}</i>
                    <p>{{menuCluster.title}}</p>
                </a>
            </li>
            <li class="separator">Single-value</li>
            <li *ngFor="let menuSingle of menuSingles" routerLinkActive="active" class="{{menuSingle.class}}">
                <a  [routerLink]="[menuSingle.path]">
                    <i class="material-icons">{{menuSingle.icon}}</i>
                    <p>{{menuSingle.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
