<div class="container" *ngIf="productForm">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
        <div class="form-group">
            <a href="#" onClick="history.go(-1)"><b>Cluster Role</b> </a>
        </div>
        <input type="submit" class="btn btn-primary ui-g-12 ui-md-6 ui-lg-8" value="List"
               [disabled]="productForm.invalid"/>
        <input type="button" class="btn btn-default ui-g-12 ui-md-6 ui-lg-8" (click)="deleteList()"
               value="Delete List"/>
    </form>
    <div class="ui-g-12 ui-md-6 ui-lg-8">
        <h3 class="first ui-g-12 ui-md-6 ui-lg-8">Information </h3>
        <div *ngIf="isInformationOutput">
            <ul>
                <li *ngFor="let responseRole of responseRole.items | paginate: { itemsPerPage: 2, currentPage: p }; let i=index">
                    <br>

                    <hr class="style18">
                    <div *ngIf="isInformationTable">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>CreationTimestamp</th>
                                <th>Name</th>
                                <th>Uid</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="accordion-toggle" data-toggle="collapse" data-target="#12345-cores">
                                <th> {{responseRole.metadata.creationTimestamp}}</th>
                                <th>{{responseRole.metadata.name}}</th>
                                <th>{{responseRole.metadata.uid}}</th>
                            </tr>
                            </tbody>

                        </table>
                        <p-dataTable [value]="responseRole.rules">
                            <p-column field="apiGroups" header="ApiGroups"></p-column>
                            <p-column field="resourceNames" header="ResourceNames"></p-column>
                            <p-column field="resources" header="Resources"></p-column>
                            <p-column field="verbs" header="Verbs"></p-column>
                        </p-dataTable>
                        <input type="button" class="btn btn-default ui-g-12 ui-md-6 ui-lg-8"
                               (click)="delete(responseRole.metadata.name)"
                               value="Delete Role"/>
                        <hr>
                        <hr>
                    </div>
                </li>
            </ul>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>
</div>