:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-panel {
    background-image: url(../assets/img/back2.jpg);
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}
nav {
    float: left;
    width: 20%;
}
#sample-panel {
    margin-left: 20%;
}
h1.lesson-title {
    padding: 0 0 6px 65px;
    background:  url(../assets/img/cover.jpeg) no-repeat;
}
nav h4 {
    margin: 4px 0 10px 0;
}
nav a {
    text-decoration: none;
    transition: all 0.5s;
    color: #E03237;
}
nav a.active {
    border-radius: 3px;
    padding: 2px 8px;
    background-color: #E03237;
    color:white;
}
hr.style18:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.one {
    padding: 40px;
    overflow-x: hidden; /* For Opera */
    -webkit-box-shadow:
            inset #19d4ff 0 0 0 5px,
            inset #18cdf7 0 0 0 1px,
            inset #53dfff 0 0 0 10px,
            inset #50d8f7 0 0 0 11px,
            inset #8ce9ff 0 0 0 16px,
            inset #88e2f7 0 0 0 17px,
            inset #c5f4ff 0 0 0 22px,
            inset #bfecf7 0 0 0 23px;
    -moz-box-shadow:
            inset #19d4ff 0 0 0 5px,
            inset #18cdf7 0 0 0 1px,
            inset #53dfff 0 0 0 10px,
            inset #50d8f7 0 0 0 11px,
            inset #8ce9ff 0 0 0 16px,
            inset #88e2f7 0 0 0 17px,
            inset #c5f4ff 0 0 0 22px,
            inset #bfecf7 0 0 0 23px;
    box-shadow:
            inset #19d4ff 0 0 0 5px,
            inset #18cdf7 0 0 0 1px,
            inset #53dfff 0 0 0 10px,
            inset #50d8f7 0 0 0 11px,
            inset #8ce9ff 0 0 0 16px,
            inset #88e2f7 0 0 0 17px,
            inset #c5f4ff 0 0 0 22px,
            inset #bfecf7 0 0 0 23px;
}
body {
    margin:0;
    padding:0;
    height:100%;
}
.wrapper {
    min-height:100%;
    position:relative;
}
#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}
.footer {
    position: absolute;
    background: #fbfdff;
}
