<div class="container" *ngIf="productForm">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
		<div class="form-group">
			<a href="#" onClick="history.go(-1)"><b>Cluster Role Binding</b> </a>
		</div>

		<input type="checkbox" [checked]="viewAdditionalField" (change)="viewAdditionalField = !viewAdditionalField" />
		<div *ngIf="viewAdditionalField" class="form-group">
			<div class="form-group">
				<label for="apiVersion">ApiVersion</label>
				<input id="apiVersion" type="text" class="form-control" formControlName="apiVersion">
			</div>
			<div class="form-group">
				<label for="gracePeriodSeconds">GracePeriodSeconds</label>
				<input id="gracePeriodSeconds" type="text" class="form-control" formControlName="gracePeriodSeconds">
			</div>
			<div class="form-group">
				<label for="orphanDependents">OrphanDependents</label>
				<input id="orphanDependents" type="text" class="form-control" formControlName="orphanDependents">
			</div>
			<div class="form-group">
				<label for="preconditions">Preconditions</label>
				<input id="preconditions" type="text" class="form-control" formControlName="preconditions">
			</div>

			<div class="form-group">
				<label for="propagationPolicy">PropagationPolicy</label>
				<input id="propagationPolicy" type="text" class="form-control" formControlName="propagationPolicy">
			</div>

		</div>

		<input type="button" class="btn btn-default" (click)="reset()" value="Reset" />
		<input type="submit" class="btn btn-primary" value="Save" [disabled]="productForm.invalid" />
	</form>
	<div *ngIf="type">
		<p>{{response}}</p>
	</div>
</div>