<footer>

    <div class="footer">
        <div class="footer">
        <p align="center" style="font-size:30px">
           Useful links</p>
        <div>
        <nav class="pull-left">

            <ul>
                <li>
                    <a href="https://kubernetes.io/" target="_blank">
                        Kubernets
                    </a>
                </li>
                <li>
                    <a href="https://kubernetes.io/docs/user-guide/kubectl/" target="_blank">
                       Kuberctl
                    </a>
                </li>
                <li>
                    <a href="https://docs.bitnami.com/kubernetes/how-to/configure-rbac-in-your-kubernetes-cluster/"  target="_blank">
                        Rbac
                    </a>
                </li>
            </ul>
        </nav>
        </div>
        </div>
    </div>

</footer>
