<footer>

    <div class="footer">
            <p align="center" style="font-size:30px">
                Useful links</p>

                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href="https://kubernetes.io/" target="_blank" >
                            Kubernets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://kubernetes.io/docs/user-guide/kubectl/" target="_blank">
                            Kuberctl
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="https://docs.bitnami.com/kubernetes/how-to/configure-rbac-in-your-kubernetes-cluster/"
                           target="_blank">
                            Rbac
                        </a>
                    </li>
                </ul>

            <div>
        </div>
    </div>

</footer>
