<div class="container" *ngIf="productForm">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
        <div class="form-group">
            <a href="#" onClick="history.go(-1)"><b>Role Binding</b> </a>
        </div>
        <div class="form-group">
            <label for="namespace"> Namespace Meta</label>
            <input id="namespace" type="text" class="form-control" formControlName="namespace">
        </div>

        <input type="checkbox" [checked]="viewAdditionalField" (change)="viewAdditionalField = !viewAdditionalField"/>
        <div *ngIf="viewAdditionalField" class="form-group">

            <div class="form-group">
                <label for="apiVersion">ApiVersion</label>
                <input id="apiVersion" type="text" class="form-control" formControlName="apiVersion">
            </div>

        </div>
        <input type="button" class="btn btn-default" (click)="reset()" value="Reset"/>
        <input type="submit" class="btn btn-primary" value="Save" [disabled]="productForm.invalid"/>
    </form>
    <h3 class="first">Information </h3>
    <div *ngIf="type">
        <div *ngFor="let responseRole of responseRole.items; let i=index">
            <div *ngIf="responseValue">
                <table class="table">
                    <thead>
                    <tr>
                        <th>CreationTimestamp</th>
                        <th>Name</th>
                        <th>Namespace</th>
                        <th>Uid</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="accordion-toggle" data-toggle="collapse" data-target="#12345-cores">
                        <th> {{responseRole.metadata.creationTimestamp}}</th>
                        <th>{{responseRole.metadata.name}}</th>
                        <th>{{responseRole.metadata.namespace}}</th>
                        <th>{{responseRole.metadata.uid}}</th>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ApiGroup</th>
                        <th>Kind</th>
                        <th>Name</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="accordion-toggle" data-toggle="collapse" data-target="#12345-cores">
                        <th> {{responseRole.roleRef.apiGroup}}</th>
                        <th>{{responseRole.roleRef.kind}}</th>
                        <th>{{responseRole.roleRef.name}}</th>

                    </tr>
                    </tbody>
                </table>
                <p-dataTable [value]="responseRole.subjects">
                    <p-column field="apiGroup" header="ApiGroups"></p-column>
                    <p-column field="kind" header="ResourceNames"></p-column>
                    <p-column field="name" header="Resources"></p-column>
                    <p-column field="namespace" header="Namespace"></p-column>
                </p-dataTable>
            </div>
        </div>
        <div *ngIf="!responseValue">
            <p>{{responseRole}}</p></div>
    </div>
</div>