<div class="container" *ngIf="productForm">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
		<div class="form-group">
			<a href="#" onClick="history.go(-1)"><b>Cluster Role</b> </a>
		</div>

		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" formControlName="name">
		</div>
		<div class="form-group">
			<label for="namespace">Namespace</label>
			<input id="namespace" type="text" class="form-control" formControlName="namespace">
		</div>
		<div *ngIf="isInformationOutput">
			<h3 class="first">Information </h3>
			<div *ngIf="isInformationTable">
				<table class="table">
					<thead>
					<tr>
						<th>CreationTimestamp</th>
						<th>Name</th>
						<th>Uid</th>
					</tr>
					</thead>

					<tbody>
					<tr class="accordion-toggle" data-toggle="collapse" data-target="#12345-cores">
						<th> {{responseRoleDto.metadata.creationTimestamp}}</th>
						<th>{{responseRoleDto.metadata.name}}</th>
						<th>{{responseRoleDto.metadata.uid}}</th>
					</tr>
					</tbody>
				</table>
				<p-dataTable [value]="responseRoleDto.rules" [editable]="true">
					<p-column field="apiGroups" header="ApiGroups" [editable]="true"></p-column>
					<p-column field="resourceNames" header="ResourceNames" [editable]="true"></p-column>
					<p-column field="resources" header="Resources" [editable]="true"></p-column>
					<p-column field="verbs" header="Verbs" [editable]="true"></p-column>
				</p-dataTable>
			</div>
			<div *ngIf="isInformationError">
				<p>{{responseRole}}</p></div>

		</div>
		<input type="button" class="btn btn-default" (click)="save()" value="Save"/>
		<input type="submit" class="btn btn-primary" value="Get" [disabled]="productForm.invalid"/>
	</form>
</div>