<div class="container" *ngIf="productForm">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
		<div class="form-group">
			<a href="#" onClick="history.go(-1)"><b> Role</b> </a>
		</div>
		<div class="form-group">
			<label for="patchType">patchType</label>
			<input id="patchType" type="text" class="form-control" formControlName="patchType">
		</div>
		<div class="form-group">
			<label for="namespace">namespace</label>
			<input id="namespace" type="text" class="form-control" formControlName="namespace">
		</div>
		<div class="form-group">
			<label for="name">name</label>
			<input id="name" type="text" class="form-control" formControlName="name">

		</div>

		<div class="form-group">
			<label for="data">data</label>
			<input id="data" type="text" class="form-control" formControlName="data">
		</div>

		<div class="form-group">
			<label for="subresources">subresources</label>
			<input id="subresources" type="text" class="form-control" formControlName="subresources">
		</div>

		<input type="button" class="btn btn-default" (click)="reset()" value="Reset" />
		<input type="submit" class="btn btn-primary" value="Save" [disabled]="productForm.invalid" />
	</form>
	<div *ngIf="type">
		<h3 class="first">Information </h3>
		<div *ngIf="responseValue">
			<table class="table">
				<thead>
				<tr>
					<th>creationTimestamp</th>
					<th>name</th>
					<th>uid</th>
				</tr>
				</thead>

				<tbody>
				<tr class="accordion-toggle" data-toggle="collapse" data-target="#12345-cores">
					<th> {{responseRole.metadata.creationTimestamp}}</th>
					<th>{{responseRole.metadata.name}}</th>
					<th>{{responseRole.metadata.uid}}</th>
				</tr>
				</tbody>
			</table>
			<p-dataTable [value]="responseRole.rules" >
				<p-column field="apiGroups" header="apiGroups"></p-column>
				<p-column field="resourceNames" header="resourceNames"></p-column>
				<p-column field="resources" header="resources"></p-column>
				<p-column field="verbs" header="verbs"></p-column>
			</p-dataTable>
		</div>
		<div *ngIf="!responseValue">
			<p>{{responseRole}}</p></div>
	</div>
</div>