<div class="container" *ngIf="productForm">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
		<div class="form-group">
			<a href="#" onClick="history.go(-1)"><b>Role</b> </a>
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" formControlName="name">

		</div>
		<div class="form-group">
			<label for="nameUrl">Namespace</label>
			<input id="nameUrl" type="text" class="form-control" formControlName="nameUrl">
		</div>
		<input type="checkbox" [checked]="viewAdditionalField" (change)="viewAdditionalField = !viewAdditionalField" />
		<div *ngIf="viewAdditionalField" class="form-group">
			<div class="form-group">
				<label for="apiVersion">ApiVersion</label>
				<input id="apiVersion" type="text" class="form-control" formControlName="apiVersion">
			</div>
			<div class="form-group">
				<label for="resourceVersion">ResourceVersion</label>
				<input id="resourceVersion" type="text" class="form-control" formControlName="resourceVersion">
			</div>
			<div class="form-group">
				<label for="includeUninitialized">IncludeUninitialized</label>
				<input id="includeUninitialized" type="text" class="form-control" formControlName="includeUninitialized">
			</div>
		</div>

		<input type="button" class="btn btn-default" (click)="reset()" value="Reset" />
		<input type="submit" class="btn btn-primary" value="Save" [disabled]="productForm.invalid" />
	</form>
	<div *ngIf="type">
		<h3 class="first">Information </h3>
		<div *ngIf="responseValue">
			<table class="table">
				<thead>
				<tr>
					<th>CreationTimestamp</th>
					<th>Name</th>
					<th>Uid</th>
				</tr>
				</thead>

				<tbody>
				<tr class="accordion-toggle" data-toggle="collapse" data-target="#12345-cores">
					<th> {{responseRole.metadata.creationTimestamp}}</th>
					<th>{{responseRole.metadata.name}}</th>
					<th>{{responseRole.metadata.uid}}</th>
				</tr>
				</tbody>
			</table>
			<p-dataTable [value]="responseRole.rules" >
				<p-column field="apiGroups" header="ApiGroups"></p-column>
				<p-column field="resourceNames" header="ResourceNames"></p-column>
				<p-column field="resources" header="Resources"></p-column>
				<p-column field="verbs" header="Verbs"></p-column>
			</p-dataTable>
		</div>
		<div *ngIf="!responseValue">
			<p>{{responseRole}}</p></div>
	</div>
</div>