<div class="ui-g">
    <div class="ui-g-12 ui-md-8">
        <div class="ui-g-12">
            <h3> Tools for working with the cluster role.</h3>

            <div>
                <p>
                    <a routerLink="create" routerLinkActive="active" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-list-alt"></span> Create simple role
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <a routerLink="list" routerLinkActive="active" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-list-alt"></span> List of roles
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <a routerLink="update" routerLinkActive="active" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-list-alt"></span> Edit role
                    </a>
                </p>
            </div>

        </div>
    </div>
    <div class="ui-g-12 ui-md-10 ui-g-nopad">
    </div>
</div>