<div class="container" *ngIf="productForm">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
		<div class="form-group">
			<a href="#" onClick="history.go(-1)"><b>Cluster Role</b> </a>
		</div>
		<input type="checkbox" [checked]="viewAdditionalField" (change)="viewAdditionalField = !viewAdditionalField" />
		<div *ngIf="viewAdditionalField" class="form-group">

			<div class="form-group">
				<label for="apiVersion">apiVersion</label>
				<input id="apiVersion" type="text" class="form-control" formControlName="apiVersion">
			</div>

		</div>
		<input type="button" class="btn btn-default" (click)="reset()" value="Reset"/>
		<input type="submit" class="btn btn-primary" value="Save" [disabled]="productForm.invalid"/>
	</form>
	<div *ngIf="type">
		<p>{{response}}</p>
	</div>
</div>