<div class="main-content">

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="orange">
						<i class="material-icons">content_copy</i>
					</div>
					<nav>
						<a routerLink="/create" routerLinkActive="active">Role</a>
					</nav>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="orange">
						<i class="material-icons">content_copy</i>
					</div>
					<nav>
						<a routerLink="/clusterrole" routerLinkActive="active">Cluster Role</a>
					</nav>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="orange">
						<i class="material-icons">content_copy</i>
					</div>
					<nav>
						<a routerLink="/rolebinding" routerLinkActive="active">Role Binding</a>
					</nav>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="orange">
						<i class="material-icons">content_copy</i>
					</div>
					<nav>
						<a routerLink="/clusterrolebinding" routerLinkActive="active">Cluster Role Binding</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>