<div class="container" *ngIf="productForm">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">

		<input type="checkbox" [checked]="saveUsername" (change)="saveUsername = !saveUsername" />
		<div *ngIf="!saveUsername" class="form-group">
			<div class="form-group">
				<label for="apiVersion">apiVersion</label>
				<input id="apiVersion" type="text" class="form-control" formControlName="apiVersion">
			</div>
			<div class="form-group">
				<label for="gracePeriodSeconds">gracePeriodSeconds</label>
				<input id="gracePeriodSeconds" type="text" class="form-control" formControlName="gracePeriodSeconds">
			</div>
			<div class="form-group">
				<label for="orphanDependents">orphanDependents</label>
				<input id="orphanDependents" type="text" class="form-control" formControlName="orphanDependents">
			</div>
			<div class="form-group">
				<label for="preconditions">preconditions</label>
				<input id="preconditions" type="text" class="form-control" formControlName="preconditions">
			</div>

			<div class="form-group">
				<label for="propagationPolicy">propagationPolicy</label>
				<input id="propagationPolicy" type="text" class="form-control" formControlName="propagationPolicy">
			</div>

		</div>

		<input type="button" class="btn btn-default" (click)="goBack()" value="Back" />
		<input type="submit" class="btn btn-primary" value="Save" [disabled]="productForm.invalid" />
	</form>
	<div *ngIf="type">
		<p>{{response}}</p>
	</div>
</div>